.clearfix {
  content: "";
  display: table;
  clear: both;
}

.header-container {
  height: 45vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('img/cozy.jpg');
}

.sidebars {
  height: 30vh;
  background-color: yellow;
  @include grid-column(3);
}

.main-content {
  background-color: blue;
  height: 30vh;
  @include grid-column(6);
}
