$xs-breakpoint: "only screen and (max-width: 690px)";
$small-breakpoint: "only screen and (min-width: 691px) and (max-width: 1031px)";
$medium-breakpoint: "only screen and (min-width: 1032px) and (max-width: 1325px)";
