// hero
.header-container {
  @include grid-column(12);
  height: 45vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('img/cozy.jpg');
  position: relative;
  margin: 0;
  width: 100%;

  h1 {
    position: absolute;
    color: white;
    text-shadow: 2px 2px #000;
    text-transform: uppercase;
    left: 3%;
  }

  p {
    position: absolute;
    top: 18%;
    left: 3%;
    color: white;
    text-shadow: 2px 2px #000;

    @include xs-breakpoint {
    top: 30%;
    }
  }
}
