// first row
#first-row {
  @include grid-column(12);
  height: 80vh;
  // background-color: blue;
}

.sidebars {
  height: 80vh;
  // background-color: yellow;
  @include grid-column(3);
  margin-top: 20px;
  overflow: auto;
  overflow-y: hidden;
}

.top-stories {
  @include grid-column(4);
}

.subarticles {
  border-bottom: 1px solid grey;
  // height: 250px;
  min-height: 10vh;
  padding-bottom: 1vh;
  overflow: auto;
  overflow-x: hidden;

  img {
    width: auto;
    height: 10vh;
    max-height: 200px;
    float: left;
    padding: 0vw 1vw 1vh 1vw;
    padding-top: 20px;
  }
}
// barista man
.main-img {
  border-bottom: 1px solid grey;
}

 // trex
.main-content {
  @include grid-column(5);
  margin-top: 20px;
  height: 80vh;
  background-image: url('img/trex.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  h1{
    position: absolute;
    left: 3%;
    color: white;
    text-shadow: 2px 2px #000;
    text-transform: uppercase;
  }
  p {
    position: absolute;
    top: 6%;
    left: 3%;
    color: white;
    text-shadow: 2px 2px #000;
  }
}
