// whats hot
.whats-hot-1, .whats-hot-2 {
  @extend %vids-whatshot;
}

// third row
#third-row {
  @include grid-column(12);
  @extend .caption;

  p {
    font-size: 14px;
  }

  .whats-hot-1, .whats-hot-2 {
    height: 35vh;
    background-color: white;
    box-shadow: 0 0.125rem 0.1875rem 0 rgba(0,0,0,.4);

    @include xs-breakpoint {
      @include grid-column(12);
      @include grid-shift(0);
    }

    @include small-breakpoint {
      @include grid-column(6);
      @include grid-shift(0);
    }
  }

  .whats-hot-1 .image-div {
    background-image: url('img/science.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70%;
    margin-bottom: 25px;
  }

  .whats-hot-2 .image-div {
    background-image: url('img/pride.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70%;
    margin-bottom: 25px;
  }
}
